@import url('https://fonts.googleapis.com/css2? family= Archivo+Narrow & family= Lagosta & family= Montserrat:wght@100 & display=swap');
h1{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 36, 36);
  color: black;
  margin: auto;
  height: 10vh;
  font-family: 'Lobster', cursiva;
}
.intro{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: white;
}
.intro p{
  padding: 1vh;
  background-color:rgb(235, 36, 36);
  width: 25%;
  border:1px solid purple;
}
p:hover{
  cursor: pointer;
  color: white;
  font-weight: 600;
}